<article class="post">
  {{{POST_BREADCRUMB}}}

  <header class="post__header">
    <h1 class="post__title">{{POST_TITLE}}</h1>
    <div class="post__meta">
      <time class="post__date" datetime="{{POST_DATETIME}}">{{POST_DATE}}</time>
      <span class="post__reading">约 {{READING_TIME}} 分钟阅读</span>
      {{{POST_BADGES}}}
    </div>
    {{{POST_TAGS}}}
  </header>

  <div class="post__content markdown-body">
{{{POST_CONTENT}}}
  </div>

  <footer class="post__footer">
{{{SERIES_NAV}}}
  </footer>
</article>
